{% include 'utils/_alert.html.twig' %}

<div id="accordion_password">
	<div class=" collapse show " id="mypassword" data-parent="#accordion_password">
		<table class="table w-100 mx-auto table-striped table-hover table-borderless">

			<tr>
				<td class="position-relative container-md">
					<div class="row">
						<div class="mb-3 col-md-4" style="font-weight: bold">Mot de passe
						</div>
						<div class="col-md-8">
							********
						</div>
					</div>
					<div class="position-absolute" style="top:10px; right:10px">
						<i class="fa fa-pencil-square-o lead" aria-hidden="true" title="Modifier" role="button" data-toggle="collapse" data-target="#form_password"></i>
					</div>
				</td>
			</tr>
		</table>
	</div>

	{{ form_start (changePasswordForm ,{'attr':{
        'class':'changePassword col-md-6 mx-auto m-5 collapse bg-light py-3',
        'id':'form_password',
        'data-parent' : '#accordion_password',
        'action':(path("profile")),
        'method':'post',
    }}) }}

		<div class="position-absolute" style="top:10px;right:10px ; font-size:20px">
		<i class="fas fa-times text-dark" aria-hidden="true" title="fermer" role="button" data-toggle="collapse" data-target="#mypassword"></i>
	</div>
	<div class="form-group">
		<i class="fa fa-pencil-square-o lead" aria-hidden="true"></i>
		<span class="font-weight-bold">
			Modifier mon mot de passe</span>
	</div>
	<div class="col form-group">
		{{ form_errors ( changePasswordForm.oldPassword)}}
		{{ form_widget ( changePasswordForm.oldPassword)}}
	</div>
	<div class=" col form-group">
		{{ form_widget ( changePasswordForm.password)}}
		{{ form_errors ( changePasswordForm.password)}}
	</div>
	<input type="hidden" name="update_password" value="ok">

	<div class="form-row pt-3 px-3 justify-content-center">
		<div class=" col form-group">
			<button type="reset" class="btn btn-outline-secondary btn-block rounded-0 ">Réinitialiser</button>

		</div>
		<div class="col form-group">
			<button type="submit" id="update_password" class="btn btn-dark btn-block rounded-0" {#formnovalidate#}>Enregistrer</button>
		</div>
	</div>

	{{ form_end (changePasswordForm)}}

</div>
